body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(238, 207, 148)
}

header {
    background:rgb(19, 105, 226);
    padding: 15px;
    text-align: center;
}

header h1 {
    color: white;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

